Backup*
*sftp.json
*db_config.php
*.mp4
*.mov
*2_Mediapipe*
Kapitel 9 3D Mapping/PBR/.DS_Store
Kapitel 9 3D Mapping/.DS_Store
Kapitel 14 Pixelmapping/03_MQTT/02_MQTT_video2strip/.DS_Store
Kapitel 14 Pixelmapping/03_MQTT/.DS_Store
Kapitel 14 Pixelmapping/02_OSC/.DS_Store
Kapitel 14 Pixelmapping/01_Serial/.DS_Store
Kapitel 14 Pixelmapping/.DS_Store
Kapitel 10 Content interaktiv machen/3_Musikvisualisierung/.DS_Store
Kapitel 10 Content interaktiv machen/1_Generative Grafik interaktiv machen/03_Generative Footage/.DS_Store
Kapitel 10 Content interaktiv machen/.DS_Store
Igloo/.DS_Store
.DS_Store
